# 准备锅
1. 安装 anaconda
2. 启动 jupyter lab

In [20]:
import pandas as pd

In [21]:
df = pd.DataFrame({'age': [3, 29], 'height': [173,156], 'weight':[52, 56]})
df

   age  height  weight
0    3     173      52
1   29     156      56

In [22]:
df.rename(index={0:'张三', 1: '李四'})

    age  height  weight
张三    3     173      52
李四   29     156      56

In [23]:
df

   age  height  weight
0    3     173      52
1   29     156      56

In [24]:
df.index=['A', 'B']
df

   age  height  weight
A    3     173      52
B   29     156      56

In [25]:
df.shape

(2, 3)

In [26]:
df.info

<bound method DataFrame.info of    age  height  weight
A    3     173      52
B   29     156      56>

In [28]:
df2 = pd.read_excel(r'C:\Users\86136\annelaise\test.xlsx')
df2

   班级  姓名  成绩
0  一班  张三  88
1  一班  李四  76
2  二班  王五  92
3  二班  赵六  54
4  三班  小明  68

In [30]:
df2.describe

<bound method NDFrame.describe of    班级  姓名  成绩
0  一班  张三  88
1  一班  李四  76
2  二班  王五  92
3  二班  赵六  54
4  三班  小明  68>